/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.btnExcel{
	-fx-background-image: url("../view/img/Excel.png");
	-fx-background-repeat: no-repeat;
	
}

.btnWord{
	-fx-background-image: url("../view/img/Word.png");
	-fx-background-repeat: no-repeat;
}

.btnPowerPoint{
	-fx-background-image: url("../view/img/Powerpoint.png");
	-fx-background-repeat: no-repeat;
}

.btnbuscar{
	-fx-background-image: url("../view/img/Buscar.png");
	-fx-background-repeat: no-repeat;
}

.btnCerrar{
	-fx-background-image: url("../view/img/Close.png");
	-fx-background-repeat: no-repeat;
}

.btnMin{
	-fx-background-image: url("../view/img/Minimize.png");
	-fx-background-repeat: no-repeat;
}

.btnMax{
	-fx-background-image: url("../view/img/Maximize.png");
	-fx-background-repeat: no-repeat;
}